.nav_top {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 2rem;
  gap: 2%;
}

.logo1 {
  cursor: pointer;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #03514e;
}

.logo2 {
  width: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* navbotm */
.navbar {
  height: fit-content;
  padding: 16px 30px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  overflow: hidden;
}

.links {
  font-weight: 600;
}

.links:hover {
  color: rgb(23, 23, 248);
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    height: 60px;
    padding: 10px;
    width: 100vw;
    position: sticky;
    top: 0;
  }

  .hide {
    font-size: 12px;
  }
}

/* menu */
.showdata {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  object-fit: contain;
  width: 100%;
}
.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
  cursor: pointer;
}

.zoom:hover {
  transform: scale(1.1);
}
